body {
  font-family: Arial, Helvetica, sans-serif;
}

#page_title {
  font-size: 30pt;
  text-align: center;
  margin-bottom: 1%;
  margin-top: 5%;
}

#title {
  font-size: 20pt;
  text-align: center;
  margin-bottom: 1%;
  margin-top: 5%;
}

#fetcher {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 20em;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

.card__content {
  align-items: center;
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}
div#page_content {
  margin: 0 auto;
  width: 80%;
  padding: 15px 32px;
  text-align: -webkit-center;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}
